@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* COLORS VARIABLE */
:root {
  --blue: #03b1f4;
  --white: #ffffff;
  --light-grey: #e4e4e4;
  --black: #1a2e38;
  --dark-grey: #444444;
  --grey: #757576;
}
/* Page Style Starts Here */

/* Global CSS Starts Here*/
.shadow-text {
  text-shadow: 1px 1px 2px var(--dark-grey);
}
strong {
  font-weight: bolder;
}
body {
  color: var(--black);
}
* {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: "Bodoni Moda";
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-family: "Bodoni Moda";
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-family: "Bodoni Moda";
  font-size: 1.8em;
  font-weight: bold;
}

h4 {
  font-family: "Bodoni Moda";
  font-size: 1.3em;
  font-weight: bold;
}

body {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 1em;
}

.decorative {
  font-family: "Henny Penny";
}

button {
  border: none;
}

.btn {
  border-radius: 2em;
  font-weight: bold;
  width: max-content;
  padding-block: 1em;
  padding-inline: 1.5em;
}

.btn.btn-primary {
  background-color: var(--blue);
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
}

.btn.btn-secondary {
  background: var(--white);
  color: var(--blue);
  border: 1px solid white;
}

.btn.btn.btn-secondary:hover {
  background-color: var(--blue);
  color: var(--white);
  border: var(--blue);
}

/* Global CSS Ends Here */

/* Nav Bar */
.splash-site-header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.splash-site-header nav {
  background: rgba(26, 46, 56, 0.9);
}

.collapse-svg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 80' width='40' height='40'%3E%3Crect width='80' height='10' style='fill:white%3B'%3E%3C/rect%3E%3Crect y='30' width='100' height='10' style='fill:white%3B'%3E%3C/rect%3E%3Crect y='60' width='50' height='10' style='fill:white%3B'%3E%3C/rect%3E%3C/svg%3E") !important;
}

.expanded-svg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 80' width='40' height='40'%3E%3Crect width='100' height='10' style='fill:%23f09737%3B'%3E%3C/rect%3E%3Crect y='30' width='100' height='10' style='fill:%23f09737%3B'%3E%3C/rect%3E%3Crect y='60' width='100' height='10' style='fill:%23f09737%3B'%3E%3C/rect%3E%3C/svg%3E") !important;
}

.nav-logo img {
  width: 250px;
  cursor: pointer;
}

.splash-site-header .login {
  background-color: white;
  color: #03b1f4;
  border-radius: 32px;
  padding: 10px;
  width: 200px;
  font-weight: 600;
  margin-left: 20px;
}

.splash-site-header .navbar-toggler:focus {
  box-shadow: none;
}

@media (min-width: 768px) {
  .nav-container li {
    margin: 0 0 27px 10px;
  }

  .splash-site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (max-width: 767px) {
  .splash-site-header .btn.btn-secondary {
    width: 95%;
    margin: auto;
  }

  .splash-site-header li {
    margin-left: 20px;
  }
}

/* Home CSS */
#home a {
  color: inherit;
}
.banner-image {
  object-fit: cover;
}

.banner-wrapper {
  position: relative;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splashes-offer ul li {
  color: var(--dark-grey);
}

/* Home >> Awards */
.awards {
  list-style-type: none;
}

/* Page Style Starts Here */

.philosophyP {
    background: no-repeat white url(../images/about-our-philosophy-bg.jpeg);
    background-size: 100% 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.goodJobP {
    background: no-repeat white url(../images/about-we-do-a-pretty-good-job-bg.jpeg);
    background-size: 100% 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
a {
    display: block;
    font-family: sans-serif; /* Need to confirm  the font-family */
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
}
.awardsDiv {
    padding-top: 80px;
    padding-bottom: 80px;
}
.awards {
    /* padding-left: 12.5%; */
    /* padding-right: 12.5%; */
    text-align: center;
}
.awardsDiv .awards .award {
    display: inline-block;
    margin: 1em;
}
.awardsDiv .awards .award img {
    width: 100%;
    height: 100%;
}