@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* COLORS VARIABLE */
:root {
  --blue: #03b1f4;
  --white: #ffffff;
  --light-grey: #e4e4e4;
  --black: #1a2e38;
  --dark-grey: #444444;
  --grey: #757576;
}
/* Page Style Starts Here */

/* Global CSS Starts Here*/
.shadow-text {
  text-shadow: 1px 1px 2px var(--dark-grey);
}
strong {
  font-weight: bolder;
}
body {
  color: var(--black);
}
* {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: "Bodoni Moda";
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-family: "Bodoni Moda";
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-family: "Bodoni Moda";
  font-size: 1.8em;
  font-weight: bold;
}

h4 {
  font-family: "Bodoni Moda";
  font-size: 1.3em;
  font-weight: bold;
}

body {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 1em;
}

.decorative {
  font-family: "Henny Penny";
}

button {
  border: none;
}

.btn {
  border-radius: 2em;
  font-weight: bold;
  width: max-content;
  padding-block: 1em;
  padding-inline: 1.5em;
}

.btn.btn-primary {
  background-color: var(--blue);
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
}

.btn.btn-secondary {
  background: var(--white);
  color: var(--blue);
  border: 1px solid white;
}

.btn.btn.btn-secondary:hover {
  background-color: var(--blue);
  color: var(--white);
  border: var(--blue);
}

/* Global CSS Ends Here */

/* Page Style Starts Here */

.apSwimmingDiv {
  padding-top: 80px;
  padding-bottom: 80px;
}
.lapSwimmingLinkDiv {
  padding: 0px 200px;
}
.lapSwimmingLinkDiv h3 {
  font-weight: bold;
}
.lapSwimmingLinkDiv ul li {
  list-style-type: none;
  margin: 10px -40px 10px;
}
.lapSwimmingLinkDiv ul li a:link {
  color: #03b1f4;
}
